body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
  background-color: whitesmoke;
}
#result {
  margin-top: 20px;
  font-size: 1.5em;
}
